body{
    font-family: 'Times New Roman', Times, serif;
 /* background: linear-gradient(to right, #f8f9fa, #e9ecef); */
  background-color: #f9fbfd;
   /* background-color: #F5F7FA; */
   /* overflow-x: hidden; */
}
/* For the main heading */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #00b3e6;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}

/* For the paragraph under it */
p {
  color: #4a4a4a;
  font-size: 1.1rem;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 25px auto;
  line-height: 1.6;
}


/* h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #20232a;
}

p {
  color: #555;
  font-size: 1.1rem;
  max-width: 700px;
  margin: 10px auto;
} */
.btn-primary {
  background-color: #61dafb;
  border: none;
  color: #20232a;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;
  align-items: center;
  
}

.btn-primary:hover {
  background-color: #21a1f1;
  color: #fff;
}
/* .card{
 box-shadow: 1px 1px 10px rgb(65, 64, 64);
 transition: transform 1s ease-in-out;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 1px 2px 2px  5px #61dafb;
}
.Card.Text{
  color: #21a1f1;
} */

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}
span{
  color: #00b3e6;
}
.cardLibrary{
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  display: flex;
 justify-content: center;
 align-items: center;

}
.cardLibrary:hover{
   transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);

}

